body{
  margin: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
  /* font-family: 'Bangers', cursive; */
  
}

.app{
  display: flex;
  flex-direction: column;
  background-color: rgb(36, 30, 30);
  /* background: #000; */
  color: aliceblue;
}